

.container {
  background-color: #333; 
  color: white;
  padding: 20px;
}


.icon {
  color: #ffdb58;
}


.frmContact {
  background-color: #222; 
  padding: 20px;
}

.labels {
  color: white; 
}

.input,
.textarea {
  background-color: #444; 
  color: white;
  border: 1px solid #555;
}

.boton {
  background-color: #ffdb58; 
  color: #333; 
}

.contactList {
  list-style-type: none;
  padding: 0;
}

.contactList li {
  margin-bottom: 10px;
}

.contactList a {
  color: white; 
}


.frmContact {
  background-color: #222;
  padding: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  border-radius: 10px; 
  max-width: 600px; 
  margin: 0 auto; 
  width: 100%; 
}

.labels {
  color: white;
  margin: 10px 0; 
  font-weight: bold;
}

.input,
.textarea {
  background-color: #444;
  color: white;
  border: 1px solid #555;
  border-radius: 5px; 
  padding: 10px;
  margin: 5px 0; 
  width: 100%;
}

.boton {
  background-color: #ffdb58;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px; 
  width: 100%; 
}

.imagen {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}